#datasets
datasets/

#altered datasets
cleaned_datasets/

#unused dataset alterers
cleaning_scripts/stations.py

#other files
testotpt.js
package-lock.json
package.json
node_modules/
queries.sql
password.txt